@model Nhklesson07.Models.NhkEmployee

@{
    ViewData["Title"] = "Xoa nhan vien";
}

<h1>Xoa nhan vien</h1>

<h3>Ban chac chan muon xoa nhan vien nay?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhkId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhkId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhkName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhkName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhkBirthDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhkBirthDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhkEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhkEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhkPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhkPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhkSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhkSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhkStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhkStatus)
        </dd>
    </dl>
    
    <form asp-action="NhkDelete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="NhkIndex">Back to List</a>
    </form>
</div>
