@{
    ViewData["Title"] = "Thong Tin Sinh Vien";
}
<div class="alert alert-info">
<h1>@ViewData["Title"]</h1>
<hr/>
    <p>Member Id: @Model.NhkMemberId</p>
    <p>Member UserName: @Model.NhkUserName</p>
    <p>Member PassWord: @Model.NhkPassWord</p>
    <p>Member FullName: @Model.NhkFullName</p>
    <p>Member Email: @Model.NhkEmail</p>
</div>


